body {
    width: 600px;
    margin: 0 auto;
    display: block;
    /* border: 1px solid black; */
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* border: 1px solid black; */
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: large;
    font-weight: bolder;
    /* border: 1px solid black; */
}

.linksContainer {
    padding: 30px;
}

.links {
    /* border: 1px solid black; */
    flex-direction: column;
    padding-top: 10px;
}
